{% extends "layout.html" %}
{% block body %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ url_for('static',filename='assets/img/admin.jpg')}} ')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Admin Panel</h1>
                    <span class="subheading">Manage your posts and edit them</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <a href="/dashboard"><button class="btn btn-primary text-uppercase">Dashboard Home</button></a>
            <a href="/logout"><button class="btn btn-primary text-uppercase">Log Out</button></a>
            <hr>

            <h1>{% if post.srno %} Edit Post {% else %} Add New Post {% endif %}</h1>

            <!-- Dynamically set form action -->
            <form id="contactForm" data-sb-form-api-token="API_TOKEN" action="{% if post.srno %}/edit/{{ post.srno }}{% else %}/add{% endif %}" method="post">
                <div class="form-floating">
                    <input class="form-control" id="title" name="title" type="text" value="{{ post.title if post else '' }}" placeholder="Enter title" required />
                    <label>Title</label>
                </div>

                <div class="form-floating">
                    <input class="form-control" id="sub_title" name="sub_title" type="text" value="{{ post.sub_title if post else '' }}" placeholder="Enter sub title" />
                    <label>Tag Line</label>
                </div>

                <div class="form-floating">
                    <input class="form-control" id="slug" name="slug" type="text" value="{{ post.slug if post else '' }}" placeholder="Enter slug" />
                    <label>Slug</label>
                </div>

                <div class="form-floating">
                    <textarea class="form-control" id="content" name="content" placeholder="Enter content" style="height: 12rem" required>{{ post.content if post else '' }}</textarea>
                    <label>Content</label>
                </div>

                <div class="form-floating">
                    <input class="form-control" id="img_file" name="img_file" type="text" value="{{ post.img_file if post else '' }}" placeholder="Enter image file URL" />
                    <label>Image File</label>
                </div>

                <br />
                <!-- Submit Button -->
                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
